@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

.glowing-circle {
  border-radius: 50%; /* Ensures the element is a circle */
  background-color: transparent; /* Removes background color */
  box-shadow: 0 0 10px #ffffff; /* Apply glow effect */
  animation: glow 1s infinite alternate; /* Apply glow animation */
}

@keyframes glow {
  0% {
      box-shadow: 0 0 10px #ffffff;
  }
  50% {
      box-shadow: 0 0 30px #ffffff;
  }
  100% {
      box-shadow: 0 0 10px #ffffff;
  }
}


